.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Roboto Slab";
  
}
body {
  background: url(../img/цветок.jpg);
  background-size: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgba(10, 20, 155, 0.7);
  z-index: 7;
}
header ul {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
li {
  cursor: pointer;
}
header ul li:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c78030;
  margin-top: 4px;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
header ul li:hover:after {
  width: 0%;
}
header ul li:before {
  content: '';
  display: block;
  width: 100%;
  right: 0;
  height: 1px;
  background-color: #c78030;
  margin-top: 4px;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
header ul li:hover::before {
  width: 0%;
}

.shou {
  height: 650px;
  width: 1137px;
  position: fixed;
  background-color: rgba(73, 102, 231);
  border: 4px solid #4d1831;
  margin-left: 4%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  z-index: 7;
  display: none;
}
.shou .closet {
  height: 50px;
  width: 50px;
  position: fixed;
  background-color: #fff;
  margin-left: 1080px;
  border: 3px solid #000f;
  font-size: 70px;
  padding-bottom: 40px;
  cursor: pointer;
}
.closet p {
  padding-left: 4px;
  font-size: 50px;
  margin-top: -12px;
}
.main-block.active {
  top: 0;
}
.main-block {
  width: 100%;
  height: 440px;
  /* border: 6px solid #c78030; */
  background-color: #fff;
  padding: 20px;
  margin-top: 120px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  transition: top 1s; 
  top: -500px;
  position: relative;
  
}

.main-block-text {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  float: left;
  transition: left 2s;
  transition-delay: 1s; 
  left: -600px;
  position: relative;
}
.main-block-text-activ {
  left: 0;
}
.main-block-text:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 0 auto;
  margin-top: 2px;
}
.main-block-img {
  float: right;
  border: #373737 solid 2px;
  width: 50%;
  height: 100%;
  transition: right 2s;
  transition-delay: 1s; 
  right: -700px;
  position: relative;
}
.main-block-img-activ {
  right: 0;
}
.main-block-img img {
  width: 100%;
  height: 100%;
}
/* .main-block-descr {
  color: #c78030;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 35px;
  font-weight: bold;
} */
.content {
  width: 100%;
  background-position: 50% 30%;
}
.content .info {
  width: 100%;
  min-height: 580px;
  background-color: #fff;
  padding: 50px;
  margin-top: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
#about img {
  width: 100%;
}
.content .info-header, .content .info-header1,
.content .info-header2, .content .info-header3 {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.content .info-header-tab, .content .info-header-tab1,
.content .info-header-tab2, .content .info-header-tab3 {
  color: #c78030;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}
.content .info-header-tab:after, .content .info-header-tab1:after, 
.content .info-header-tab2:after, .content .info-header-tab3:after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: #c78030;
  margin-top: 4px;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
.content .info-header-tab:hover:after, .content .info-header-tab1:hover:after,
.content .info-header-tab2:hover:after, .content .info-header-tab3:hover:after   {
  width: 70%;
}
.content .info-tabcontent, .content .info-tabcontent1,
.content .info-tabcontent2, .content .info-tabcontent3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  padding-top: 50px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.content .info-tabcontent img, .content .info-tabcontent1 img, 
.content .info-tabcontent2 img, .content .info-tabcontent3 img   {
  width: 190px;
  height: 130px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  margin: 5px;
  cursor: pointer;
}
/* .content .info-tabcontent img:hover, .content .info-tabcontent1 img:hover, 
.content .info-tabcontent2 img:hover, .content .info-tabcontent3 img:hover {
  zoom: 1.2;
  position: absolute;
} */
.content .hide, .content .info .hide {
  display: none;
}
.content .show, .content .info .show {
  /* display: -webkit-box; */
  top: 100px;
  display: -ms-flexbox;
}
.content .contact {
  width: 86%;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(10, 20, 155, 0.7);
  margin: 0 auto;
  margin-top: 150px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
.content .contact-img {
  width: 50%;
}
.content .contact-img img {
  width: 100%;
  height: 100%;
  /* -webkit-transform: translateY(-13%);
      -ms-transform: translateY(-13%);
          transform: translateY(-13%); */
}
.content .contact-form {
  width: 50%;
  padding-left: 40px;
}
.content .contact-form-title {
  margin-top: 30px;
  color: #1a1819;
  font-size: 26px;
  font-weight: 300;
}
.content .contact-form-title:after {
  content: '';
  display: block;
  width: 20%;
  height: 1px;
  background-color: #c78030;
  margin-top: 4px;
}
.content .contact-form form input {
  display: block;
  width: 60%;
  height: 40px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #000;
}
.content .contact-form form button {
  margin-top: 60px;
  width: 150px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #c78030;
  color: #c78030;
  cursor: pointer;
}
.content .contact-form form button:hover {
  box-shadow: 0 0 10px #c78030;
}
.content footer {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.content footer .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}
.content footer .social .social-block {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(199, 128, 48, 0.5);
  margin-right: 15px;
  background-color: rgba(10, 20, 155, 0.7);
}
.content footer .social .social-block:hover {
  box-shadow: 0 0 10px #c78030;
}
.content footer .social .social-block a img {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 17px;
  
}
